name: Rainix CI

on: [push]

concurrency:
  group: ${{ github.ref }}-rainix
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

x-free-disk-space-step: &free-disk-space-step
  name: Free disk space
  uses: jlumbroso/free-disk-space@v1.3.1
  with:
    android: true
    dotnet: true
    haskell: true
    large-packages: false
    docker-images: false
    swap-storage: false

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "sqlite:issuance.db"
    steps:
      - *free-disk-space-step

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 5G

      - run: nix run .#prepSolArtifacts
      - run: nix flake check

      - run: nix develop -c sqlx db create
      - run: nix develop -c sqlx migrate run

      - name: Run tests
        run: nix develop -c cargo test --workspace

  static:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "sqlite:issuance.db"
    steps:
      - *free-disk-space-step

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 5G

      - run: nix run .#prepSolArtifacts
      - run: nix flake check

      - run: nix develop -c sqlx db create
      - run: nix develop -c sqlx migrate run

      - name: Check formatting
        run: nix develop -c cargo fmt --all -- --check

      - name: Run clippy
        run: nix develop -c cargo clippy --workspace --all-targets --all-features -- -D clippy::all -D warnings
